// @import 'partials/User_Item';
@import 'partials/User_Item';
@import 'mixins';
@import 'icon-font';
@import 'header';
@import 'search';
@import 'login';
@import 'mailMod';
@import 'messageItem';
@import 'variables';

html, body {
  margin: 0;
  height: 100%;
  background: #eee;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  * {
    box-sizing: border-box;
    list-style-type: none;
  }
}
.bs-1 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
